.NoDataWrapper{
    height: 300px;
    width: 250;
    max-width: 250;
    
}
.NoDataMessage{
    width: 250px;
    height: 270px;
    max-height: 270px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-grow: "1"
}
.NoDataMessage p{
    color: #707070;
    font-size: 30px;
    margin: 0px;
    height: 250px;
    width: 150px;
    position: relative;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}