/* prefixed by https://autoprefixer.github.io (PostCSS: v7.0.26, autoprefixer: v9.7.3) */

/* prefixed by https://autoprefixer.github.io (PostCSS: v7.0.26, autoprefixer: v9.7.3) */

.App {
    min-height: 90vh;
    text-align: center;
    min-width: 1200px;
    background-color: white;
    color: black;
    margin-right: 5%;
    margin-left: 5%;
}
.Header{
    text-align: center;
    min-width: 900px;
    background-color: white;
    color: black;
    height: 15%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between
}
.Header h3{
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
    background-color: grey;
    color: white;
    margin-right: 1%;
    padding: 0.25%;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;

}
img{
    height: 10vh;
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
    margin-left: 1%;
    margin: 1%;
}

.Body{
    max-height: 90vh;
    color: black; 
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;  
    background-color: white;
}

.filter-panel {
    min-width: 30%;
    max-width: 30%;
    margin: 5px;
    overflow-y: auto;
    background-color:	#F1F1F1;
    color: black;
    
    
}
.filter-container > div {
    border-bottom-style: solid;
    border-bottom-width: thin;
    border-bottom-color: #707070;
}
.chart-panel {
    width: 70%;
    margin: 5px;
    padding: 5px;
    overflow-y: auto;
    background-color: white;
    color: black;
}
h1{
    font-size: 80px;
    font-weight: normal;
    font: arial;
    text-align: center;
}
.Boxes{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
    font-size: 28px;
    margin-left: 13%;
    margin-right: 13%;
    text-align: center;
}
.box{
    margin-top: 4%;
    margin-bottom: 3.5%;
    padding-top: 2%;
    padding-bottom: 2%;
    width: 45%;
    border-style: solid;
    border-width: normal;
    border-color: 	#707070;
}
.learnMore{
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 6%;
    text-align: center;
    font-size: 28px;
}
footer{
    background-color: #707070;
    margin: 0em;
    display: block;
}