/* prefixed by https://autoprefixer.github.io (PostCSS: v7.0.26, autoprefixer: v9.7.3) */

.App {
    text-align: center;
    min-width: 900px;
    background-color: white;
    color: black;
    height: 90vh;
    margin-right: 5%;
    margin-left: 5%;
}
.Header{
    text-align: center;
    min-width: 900px;
    background-color: white;
    color: black;
    height: 15%;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: row;
    flex-direction: row;
    -webkit-justify-content: space-between;
    justify-content: space-between
}
.Header h3{
    align-self: center;
    background-color: grey;
    color: white;
    margin-right: 1%;
    padding: 0.25%;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;

}
img{
    height: 70%;
    align-self: center;
    margin-left: 1%;
}

.Body{
    color: black; 
    height: 90%;
    display: flex;  
    background-color: white;
}

.filter-panel {
    min-width: 30%;
    max-width: 30%;
    margin: 5px;
    overflow-y: auto;
    background-color:	#F1F1F1;
    color: black;
    
}
.filter-container > div {
    border-bottom-color: #F2F2F2;
    border-bottom-style: groove;
    border-bottom-width: thin;
}
.chart-panel {
    width: 70%;
    margin: 5px;
    padding: 5px;
    overflow-y: auto;
    background-color: white;
    color: black;
}


