/* prefixed by https://autoprefixer.github.io (PostCSS: v7.0.26, autoprefixer: v9.7.3) */

/* prefixed by https://autoprefixer.github.io (PostCSS: v7.0.26, autoprefixer: v9.7.3) */

.App {
    text-align: center;
    min-width: 900px;
    background-color: white;
    color: black;
    height: 90vh;
    margin-right: 5%;
    margin-left: 5%;
}
.Header{
    text-align: center;
    min-width: 900px;
    background-color: white;
    color: black;
    height: 15%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between
}
.Header h3{
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
    background-color: grey;
    color: white;
    margin-right: 1%;
    padding: 0.25%;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;

}
img{
    height: 70%;
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
    margin-left: 1%;
}

.Body{
    color: black; 
    height: 90%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;  
    background-color: white;
}

.filter-panel {
    min-width: 30%;
    max-width: 30%;
    margin: 5px;
    overflow-y: auto;
    background-color:	#F1F1F1;
    color: black;
    
    
}
.filter-container > div {
    border-bottom-style: groove;
    border-bottom-width: thin;
}
.chart-panel {
    width: 70%;
    margin: 5px;
    padding: 5px;
    overflow-y: auto;
    background-color: white;
    color: black;
}
